.editMovePageContainer {
  display: flex;
  flex-direction: column;
}

.editMovePageContainer > :not(:first-child):not(h3) {
  margin-left: 1rem;
}

/* Video Container */
.editMovePageContainer > :first-child {
  width: 100% !important;
  height: initial !important;
  max-height: 75vh;
  position: relative;
}

.editMovePageContainer video {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.editMovePageContainer .inputRowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.editMovePageContainer .inputRowContainer input[type="number"] {
  width: 8rem;
}

.editMovePageContainer .standalone-textinput {
  flex-grow: 1;
}

.editMovePageContainer button[type="submit"] {
  max-width: 14rem;
}
