.stylePageContainer > a {
  color: #00FFBB;
  font-size: 20px;
  display: inline-block;
  margin: 1rem 0 2rem 0;
  padding: 0 4px 0 4px;
  text-decoration: none;
  border-bottom: 2px solid #00FFBB;
}
