body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #222222;
  color: white;
}

.defaultPageContainer {
  padding: 1rem 2rem 0 2rem;
  width: calc(100% - 4rem);
}

input[type="text"],input[type="number"],button,select {
  color: white;
  font-size: 20px;
  display: inline-block;
  margin: 1rem 0 2rem 0;
  padding: 4px;
  text-decoration: none;
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 2px solid white;
  cursor: pointer;
}

button {
  color: #00FFBB;
  border-bottom-color: #00FFBB;
}

button[type="submit"] {
  border: 2px solid #00FFBB;
  font-size: 1.5rem;
  padding: 0.8rem;
  border-radius: 5px;
}
